.modal-overlay {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.modal-content {
  min-height: 200px;
  max-height: calc(100vh - 20px);
  overflow: hidden;
  border: 1px solid black;
  background-color: white;
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 3;
}

.modal-content-close-button-wrapper {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid #cfcfca;

  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.modal-content-children-wrapper {
  overflow: auto;
  padding: 8px;
}

.modal-content-header-movable-zone {
  cursor: grab;
  background-color: red;
  flex-grow: 1;
}

.modal-roll {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  box-sizing: border-box;
  transition: 0.4s;
  top: calc(100% - 30px);
  width: 200px;
  position: fixed;
  border: 1px solid black;
  z-index: 1;
}

.modal-roll-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-roll-unroll-button {
}

.modal-resizer {
  position: absolute;
  background: lightblue;
}
.modal-resizer-top,
.modal-resizer-bottom {
  height: 7px;
  width: 100%;
  cursor: n-resize;
}

.modal-resizer-right,
.modal-resizer-left {
  width: 7px;
  height: 100%;
  cursor: e-resize;
}

.modal-resizer-top {
  top: 0px;
}
.modal-resizer-right {
  right: 0px;
}
.modal-resizer-bottom {
  bottom: 0px;
}
.modal-resizer-left {
  left: 0px;
}
